streamlit>=1.36
ultralytics>=8.2
opencv-python-headless==4.10.0.84
numpy>=1.26
pandas>=2.2
folium>=0.16
streamlit-folium>=0.21
imageio-ffmpeg>=0.5
easyocr>=1.7
scipy>=1.13
scikit-image>=0.23
lazy-loader>=0.4
tifffile>=2024.5
lap==0.5.13
huggingface_hub>=0.23
